body{
    color:black;
    font-family: 'Poppins';
}
.hud-main-text{
    color:#36A9E1;
}
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width:100%;
    border-radius: 4px;
    background:rgb(255, 255, 255);
    font-size: 3rem;
    min-width: 80rem;
}
.btnGuardar{
    font-size: 2.4rem;
    padding:2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    font-family: poppins;
    background:rgb(230, 171, 255); 
    border-radius: 3%;
}

.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 255, 255);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding:2rem 2.5rem;
    color:black;
}
.choice-text{
    padding:2rem;
    width:100%;
}
.correct{
    background:linear-gradient(32deg,rgb(117, 240, 117),rgb(117, 240, 117));
}

.incorrect{
    background:linear-gradient(32deg,rgb(239, 73, 84),rgb(239, 73, 84));
}

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2.4rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #36A9E1;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;   
}

#progressBarFull{
    height: 100%;
    background:#36A9E1;
    width:0%;
} 

.final{
    color:#36A9E1;
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}



    